{% extends "dhcare/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Admin Portal</legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" formaction="{% url 'adminui_get' %}" type="submit">Get Hospital
                Information
            </button>
            <button class="btn btn-outline-info" formaction="{% url 'adminui_submit' %}" type="submit">Submit Hospital
                Information
            </button>
        </div>
    </form>
</div>
{% endblock content %}