{% extends "dhcare/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reception Portal</legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" formaction="{% url 'receptionui-get' %}" type="submit">Get Patient
                Appointments
            </button>
            <button class="btn btn-outline-info" formaction="{% url 'receptionui-book' %}" type="submit">Book New
                Appointment
            </button>
        </div>
    </form>
</div>
{% endblock content %}